<!DOCTYPE html>
<html>
<head>
  <title>Lern.Учи.</title>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <link rel="stylesheet" href="{{url_for('.static',filename='css/styles.css')}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('.static',filename='img/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('.static',filename='img/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('.static',filename='img/favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('.static',filename='manifest.json')}}">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="{{url_for('.static',filename='js/common.js')}}"></script>
</head>
<body>
<ons-navigator animation="none" id="mainpage" page="home_page"></ons-navigator>
<template id="home_page">
  <ons-page id="home">
  <ons-toolbar style="background-color: #e0e0e0;">
    <div class="left">
      <ons-toolbar-button onclick="switchTab('settings')">
        <span class="toolbar-button">
          <i class="ion-ios-settings" style="font-size:32px; vertical-align:-6px; color: #4c4c4c"></i>
        </span>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Выбери, какие слова учить
    </div>

  </ons-toolbar>
  <div class="background"></div>
  <div class="content"></div>
  <div class="homegrid">
    <ons-row>
      <ons-col class="homegrid-col">
        <ons-fab onclick="navigate('zero')" style="background-color: rgb(218 70 87) !important;" {%if dataset[0] == 0 %} disabled {% endif %}>
          {{dataset[0]}}
        </ons-fab>

        <ons-fab onclick="navigate('one')" style="background-color: rgb(255 119 22) !important;" {%if dataset[1] == 0 %} disabled {% endif %}>
          {{dataset[1]}}
        </ons-fab>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col class="homegrid-col">
        <ons-fab onclick="navigate('two')" style="background-color: rgb(214 216 67) !important;" {%if dataset[2] == 0 %} disabled {% endif %}>
          {{dataset[2]}}
        </ons-fab>

        <ons-fab onclick="navigate('three')" style="background-color: #9ede73 !important;" {%if dataset[3] == 0 %} disabled {% endif %}>
          {{dataset[3]}}
        </ons-fab>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col class="homegrid-col">
        <ons-fab onclick="navigate('four')" style="background-color: #1e6f5c !important;" {%if dataset[4] == 0 %} disabled {% endif %}>
          {{dataset[4]}}
        </ons-fab>

        <ons-fab modifier="mini" onclick="showAlertDialog()" style="background-color: #536162 !important;">
          <ons-icon icon="fa-plus-square"></ons-icon>
        </ons-fab>
      </ons-col>
    </ons-row>
  </div>



</ons-page>
</template>
<template id="settings">
  <ons-page id="settings-page">
    <ons-toolbar style="background-color: #e0e0e0;">
      <div class="center">Настройки</div>
    </ons-toolbar>
    <div class="background"></div>
    <ons-list>

      <ons-list-item>
        <div class="center">
          Перемешать слова
        </div>
        <div class="right">
          <ons-switch {% if settings[0] == 1 %}checked {% endif %} id="randomize"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Слов в раунде
        </div>
        <div class="right">
          <ons-input id="round_size" type="number" value="{{settings[1]}}" min="1" max="50"></ons-input>
        </div>
      </ons-list-item>

    </ons-list>
    <ons-alert-dialog-button onclick="saveSettings()">Сохранить</ons-alert-dialog-button>
    <ons-alert-dialog-button onclick="switchTab('home_page')">Отмена</ons-alert-dialog-button>

    </div>
  </ons-page>
</template>
<ons-alert-dialog id="enter_new_word" cancelable>
  <div class="alert-dialog-title">Добавить слово</div>
  <div class="alert-dialog-content">
    <ons-row>
      <ons-col width="200px">
        <ons-input id="deu_wort" modifier="underbar" placeholder="deutsch" float></ons-input>
      </ons-col>
      <ons-col></ons-col>
    </ons-row>
    <ons-row>
      <ons-col width="200px">
        <ons-input id="rus_wort" modifier="underbar" placeholder="русский" float></ons-input>
      </ons-col>
      <ons-col>
        <ons-button onclick="getGoogleTranslation()">
          <i class="zmdi zmdi-translate" style="font-size:22px; vertical-align:-2px; color: #fff"></i>
        </ons-button>
      </ons-col>
    </ons-row>
  </div>
  <div class="alert-dialog-footer">
    <ons-alert-dialog-button onclick="addNewWord()">OK</ons-alert-dialog-button>
    <ons-alert-dialog-button onclick="hideAlertDialog()">Отмена</ons-alert-dialog-button>
  </div>
</ons-alert-dialog>
</body>
</html>